.header {
    display: block;
     text-align: center;
     background-color: RosyBrown;
     color: MistyRose;
     font-size: 30px
 }
 
 body {
     background-color: #eeac99;
     
 }
 
 
 img {
     float: center;
     border-radius: 50px;
     width: 200px;
 
 }
 
 p {
     text-align: center;
 }
 
 footer { 
 
     text-align: center;
     background-color: RosyBrown;
     color: MistyRose;
     
     }

i {

}
     
 ul {
     list-style: none;
     padding: 0px;
     }	
     
 ul li:before {
     content: '\1F43E';
     margin: 0 1em;
 }
     
 h2 {
     
     text-align: center;
     
 }
 
 body {
   font-family: "Sofia", sans-serif;
   font-size: 15px;
 }
 
 * {
   box-sizing: border-box;
 }
 
 
 .column {
   float: center;
   width: 12%;
   padding: 10px;
   height: 150px;
 }
 
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 h4 {
    text-align: center;

 }
 
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: 0.9s ease;
 }
 
 .active {
   background-color: Pink;
 }
 
 
 .fade {
   animation-name: fade;
   animation-duration: 2s;
 }
 
 @keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
 
 
 @media only screen and (max-width: 300px) {
   .text {font-size: 11px}
 }
 
 .slideshow-container {
    text-align: center;
 }

