/* You can add global styles to this file, and also import other style files */
.header {
     padding: 30px;
     text-align: center;
     background-color: RosyBrown;
     color: MistyRose;
     font-size: 35px
 }
 .nav {
    padding:
 }
 
 article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: mistyrose;
    height: 300px;
 }

 body {
    text-align: center;
 }
 
 img {
    float: center;
    border-radius: 50px;
    width: 200px;
 
 }
 
 p {
    text-align: center;
 }
 
 footer { 
 
     text-align: center;
     background-color: RosyBrown;
     color: MistyRose;
     
     }
nav {
        float: left;
        width: 30%;
        height: 300px;
        background: lightpink;
        padding: 20px;
      }
 nav ul {
     list-style: none;
     padding: 0px;
     }	

    


 section::after {
    content: "";
    display: table;
    clear: both;
 }
     
 h2 {
     
     text-align: center;
     
 }
 
 body {
   font-family: "Sofia", sans-serif;
   font-size: 15px;
   text-align: center;
 }
 
 * {
   box-sizing: border-box;
 }
 

 
 h4 {
    text-align: center;
   

 }
 
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: 0.9s ease;
 }
 
 .active {
   background-color: Pink;
 }
 
 
 .fade {
   animation-name: fade;
   animation-duration: 2s;
 }
 
 @keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
 
 
 @media only screen and (max-width: 300px) {
   .text {font-size: 11px}
 }
 
 .slideshow-container {
    text-align: center;
    padding: 20px;
    height: auto;
 }

