/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial;
  background-image: url("https://i.imgur.com/5hB9WAm.jpg");
}

p {
  text-indent: 8%;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 18px;
  text-align: justify;
}

header {
  background-color: rosybrown;
  text-align: center;
  font-size: 80px;
  color: mistyrose;
  text-decoration: underline;
  padding: 1px;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border: 10px dotted whitesmoke;
}
  
h1 {
  text-align: center;
  font-size: 35px;
  text-decoration-line: underline;
}

h3 {
  text-align: center;
  font-size: 35px;
  font-style: italic;
  background-color: rosybrown;
  color: whitesmoke;
  width: 50%;
  margin-left: 25%;
}

h4 {
  text-align: center;
  color: darkred;
  font-size: 20px;
  background-color: whitesmoke;
  margin-left: 600px;
  width: fit-content;
}

  /* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  padding: 20px;
}
  
  /* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 1px;
  background-color: whitesmoke;
  width: 70%;
}
  
article {
  float: left;
  padding: 40px;
  width: 70%;
  background-color: rosybrown;
  color:mistyrose;
  text-align: center;
  border: 2px solid whitesmoke;
}
  
  /* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rosybrown;
  padding: 10px;
  text-align: center;
  color: mistyrose;
}
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
  width: auto;
  height: auto;
}
}
  
* {
  box-sizing: border-box;
}
  
img {
  vertical-align: center;
}
  
  /* Position the image container (needed to position the left and right arrows) */
.container {
  position: center;
}
  
  /* Hide the images by default */
.mySlides {
  display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Container for image text */
  .caption-container {
    font-size: 25px;
    background-color: whitesmoke;
    padding: 2px 16px;
    color: salmon;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
    font-size: 25px;
}
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }



  
